body {
    background-color: #F4F9FF;
}

/* ヘッダー */
header {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
}

.header-logo {
    width: 180px;
}
.header-logo img {
    width: 100%
}

/* メインコンテナ */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* メインビジュアル */
.main-visual {
    background-image: url("./img (2)/mainvisual.jpg");
    background-size: cover;
    /* padding-top: 40%;  */
    aspect-ratio: 10 / 4;
    max-width: 100%;
    margin-bottom: 50px;
}


/* INDEX */
.index{
    background-color: white;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.index-container {
    max-width: 600px;
    margin: 0 auto;
}

.index h2 {
    padding-top: 20px;
}

.index ol {
    padding-left: 25px;
}

.index li {
    padding-bottom: 15px;
}

/* DETAIL */

.detail{
    max-width: 600px;
    margin: 0 auto;
}

.detail-container {
    width: 100%;
    display: flex;
    gap: 10%;
}

.detail-image, .detail-contents {
    flex: 1;
}


.detail-image {
    box-sizing: border-box;
}

.detail-image img {
    width: 100%;
    max-height: 100%;
}

.detail h3 {
    margin-top: 0;
    font-size: medium;
}

.detail-bookinfos{
    padding: 6% 0;
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
}

.detail-bookinfo {
    display: flex;
    padding-right: 5% ;
}
.detail p {
    margin: 1px 2px;
    font-size: 14px;
}
.detail-bookinfo p:first-child {
    width: 70px;
}

.detail-summary {
    padding: 8% 0;
}

.detail-link {
    font-size: 14px;
}

/* フッター */
footer {
    font-size: xx-small;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 80px;
}


@media (max-width: 1024px) {

    .index-container {
        padding: 0 40px
    }

    .detail {
        padding: 0 40px
    }
    .detail-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .detail h3 {
        font-size: 20px;
        padding-top: 20px;
    }

    .detail p {
        font-size: medium;
    }
    .detail a {
        font-size: medium;
    }

    footer {
        font-size: xx-small;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 40px; 
        padding-top: 80px;
    }
}